h1 {
    font-family:serif;
}
#mycanvas2{
    background-color: white;
    margin-left:120px;
}
#mycanvas {
    background-color:white;
    margin-left:60px;
    margin-top:50px;
}
body{
    background-color:#EFE6F2;
}