body {
    background-image: url(http://oi47.tinypic.com/2u8fhmx.jpg);
}

.html {
    color: rgb(30, 30, 134);
    font-size: 27px;
}

p {
    padding-left: 250px;
    padding-right: 300px;
}

.hi {
    padding-left: 200;
}

#htmlpic {
    position: absolute;
    top: 170px;
}

#css {
    position: absolute;
    top: 170px;
    right: 0px;
}

#tags {
    position: absolute;
    padding-left: 500px;
    padding-bottom: 900px;
}

#att {
    position: absolute;
    right: 0px;
    bottom: -100px;
}

#fairy {
    position: absolute;
    top: -24px;
    right: 0px;
}

.tags-ok {
    color: rgb(146, 80, 138);
}

#table {
    text-align: center;
}
